.b-loading {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 232px;
    bottom: 104px;
    left: 218px;
    right: 24px;
    background-color: #b2adad4f;
    z-index: 100;
}

.b-loading img {
    animation: rotate 1.5s linear infinite;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}