#previewSettingUser .detail-preview-user {
    position: absolute;
    top: -2px;
    right: 0;
    height: 100%;
    width: 40%;
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
    z-index: 8;
}

#previewSettingUser .content-user {
    padding: 24px;
}

#previewSettingUser .content-user .ms-icon-container {
    position: absolute;
    top: 24px;
    right: 24px;
    cursor: pointer;
}

.ms-row {
    clear: both;
    flex-flow: wrap;
}

.content-detail {
    display: flex;
    width: 100%;
    line-height: 35px;
    text-indent: 0px;
    padding: 0px;
    margin-bottom: 16px;
}

.col-16 {
    margin-left: 0%;
    width: 16.6667%;
}

.col-75 {
    margin-left: 0%;
    width: 75%;
}

.col-29 {
    margin-left: 0%;
    width: 29.1667%;
}

.col-50 {
    margin-left: 0%;
    width: 50%;
}

.border-detail {
    border-bottom: 1px solid rgb(231, 232, 233);
}

.img-detail {
    border-radius: 50%;
    margin-top: 10px;
    margin-right: 0 !important;
    width: 66px !important;
    height: 66px !important;
    font-size: 32px !important;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.body-detail {
    display: flex;
    width: 100%;
    line-height: 35px;
    text-indent: 0px;
    padding: 0px;
    margin-bottom: 16px;
    margin-top: 20px;
}

.body-detail-1 {
    display: flex;
    width: 100%;
    line-height: 35px;
    text-indent: 0px;
    padding: 0px;
    margin-bottom: 16px;
}

.ms-col {
    float: left;
}

body .avatar img {
    border: 1px solid #e7e8e9;
}

#previewSettingUser .dot {
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    left: 0;
    top: 13px;
}

#previewSettingUser .wait-for-confirmation {
    color: #f39619;
}

.grid-container {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    text-indent: 0;
    border: none;
}

.role-detail {
    height: 48px;
    padding: 0 16px;
    color: #171b2a;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid #e7e8e9;
}

.role-detail-child:hover {
    background-color: #dbf4ff;
}