.popup-notification {
    z-index: 333!important;
}

.popup-style {
    background: rgb(255, 255, 255)!important;
    width: 415px!important;
    min-width: 500px!important;
}

.general {
    overflow: auto;
    height: calc(100% - 60px);
}

.h-53 {
    height: 53px;
}

.mess-title {
    letter-spacing: 0.576px;
    font-size: 24px;
    color: rgb(33, 33, 33);
}