.justify-between {
    justify-content: space-between!important;
}

.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.flex-c-m {
    justify-content: center;
    align-items: center;
    min-width: max-content;
}

.flex-m {
    display: flex;
    align-items: center;
    min-width: max-content;
}

.flex-r-m {
    justify-content: flex-end;
}

.m-l-4 {
    margin-left: 4px!important;
}

.p-l-8 {
    padding-left: 8px!important;
}

.m-l-16 {
    margin-left: 16px!important;
}

.m-l-12 {
    margin-left: 12px!important;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-col {
    flex-direction: column!important;
}

.align-items-center,
.items-center {
    align-items: center!important;
}

.cursor-pointer {
    cursor: pointer;
}

.sizefull,
.w-full {
    width: 100%;
}

.w-full {
    width: 100%!important;
}

.h-full {
    height: 100%!important;
}

.container {
    display: flex;
    flex-direction: column;
}

.p-b-16 {
    padding-bottom: 16px!important;
}

.bold {
    font-weight: 700;
}

.font-20 {
    font-size: 20px!important;
}

.bg-white {
    background: #fff;
}

.m-r-16 {
    margin-right: 16px!important;
}

.pos-relative {
    position: relative;
}

.m-0 {
    margin: 0!important;
}

.p-b-8 {
    padding-bottom: 8px!important;
}

.p-b-12 {
    padding-bottom: 12px!important;
}

.m-r-8 {
    margin-right: 8px!important;
}

.pos-relative {
    position: relative;
}

.p-l-16 {
    padding-left: 16px!important;
}

.p-0-16 {
    padding: 0 16px!important;
}

.m-r-12 {
    margin-right: 12px!important;
}

.m-t-4 {
    margin-top: 4px!important;
}

.m-b-4 {
    margin-bottom: 4px!important;
}

.m-l-4 {
    margin-left: 4px!important;
}

.ms-col {
    float: left;
}

.center {
    display: flex;
}

.left {
    align-items: left;
}

.center {
    align-items: center;
}

.justify-flexend {
    justify-content: flex-end!important;
}

.text-bold {
    font-weight: 700;
}

a {
    text-decoration: none;
    color: #02a3ec;
}

.opacity-05 {
    opacity: 0.5;
}