@import url(../css/layout/header.css);
@import url(../css/components/icon.css);
@import url(../css/components/input.css);
@import url(../css/layout/navbar.css);
@import url(../css/layout/maincontent.css);
@import url(../css/components/button.css);
@import url(../css/components/selectbox.css);
@import url(../css/components/popupcolumn.css);
@import url(../css/layout/userdetail.css);
@import url(../css/components/editpopup.css);
@import url(../css/components/checkbox.css);
@import url(../css/components/addnew.css);
@import url(../css/base/dropdown.css);
@import url(../css/popup/deletepopup.css);
@import url(../css/base/bloading.css);
@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);
* {
    margin: 0;
    padding: 0;
    /* background: #f4f5f8; */
    font-family: Roboto, Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

.dx-device-desktop .dx-device-generic {
    overflow: hidden;
}

body {
    font-family: Misa Fonts Regular;
    font-size: 14px;
}

@font-face {
    font-family: Misa Fonts Regular;
    src: url(../assets/fonts/notosans-regular.2cb88a13.woff2);
}

@font-face {
    font-family: Misa Fonts Bold;
    src: url(../assets/fonts/notosans-bold.3ede5aff.woff2);
}

@font-face {
    font-family: Misa Fonts Italic;
    src: url(../assets/fonts/notosans-italic.1c1aaac9.woff2);
}


/* width */

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.main-container {
    overflow: hidden;
}


/* Track */

 ::-webkit-scrollbar-track {
    /* background: #f1f1f1; */
    background: #F8F8F8;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    /* background: rgb(204, 204, 204); */
    background: #CBCCCF;
    border-radius: 2px;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    /* background: rgb(204, 204, 204); */
    background: #B0B1B4;
}

.error {
    border-color: red !important;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.error:focus {
    border-color: red !important;
}

.error .dx-texteditor.dx-editor-outlined {
    background: #fff;
    border: 1px solid red;
    border-radius: 4px;
}

tr td {
    border-top: 1px solid #e7e8e9;
}