@import url(../css/layout/header.css);
@import url(../css/components/icon.css);
@import url(../css/components/input.css);
@import url(../css/layout/navbar.css);
@import url(../css/layout/maincontent.css);
@import url(../css/components/button.css);
@import url(../css/components/selectbox.css);
@import url(../css/components/popupcolumn.css);
@import url(../css/layout/userdetail.css);
@import url(../css/components/editpopup.css);
@import url(../css/components/checkbox.css);
@import url(../css/components/addnew.css);
@import url(../css/base/dropdown.css);
@import url(../css/popup/deletepopup.css);
* {
    margin: 0;
    padding: 0;
    /* background: #f4f5f8; */
    box-sizing: border-box;
}

body {
    font-family: Misa Fonts Regular;
    font-size: 14px;
}

@font-face {
    font-family: Misa Fonts Regular;
    src: url(../assets/fonts/notosans-regular.2cb88a13.woff2);
}

@font-face {
    font-family: Misa Fonts Bold;
    src: url(../assets/fonts/notosans-bold.3ede5aff.woff2);
}

@font-face {
    font-family: Misa Fonts Italic;
    src: url(../assets/fonts/notosans-italic.1c1aaac9.woff2);
}

::-webkit-scrollbar-track {
    background: #f1f1f1!important;
}

::-webkit-scrollbar-track {
    background: #fff;
}

::-webkit-scrollbar {
    height: 8px;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}